.header {
  background: #38bc38;
  height: 125px;
}

.header h1 {
  margin: 0;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

#highscore{
  position: fixed;
  right: 5%;
  top:6%;
}
