.wrapper {
    background-image: url("../assets/atbg.jpg");
    /*  background from https://wall.alphacoders.com/big.php?i=442435 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }


.wrapper{
  background-clip: content-box;
  padding-top: 45px;
  padding-bottom: 45px;
  position: relative;
  top: -45px;
}

.character{
 background-color: white;
  padding: 10px;
  height: 225px;
  width: 225px;
  margin: 10px;
  cursor: pointer; 
}

.img{
  height: 200px;
  width: 200px;
}