.container-fluid {
    background-image: url("../assets/atbg.jpg");
    /*  background from https://wall.alphacoders.com/big.php?i=442435 */
    background-size: cover;
    height: 1000px;
    width: 100%;
  }